
#articleContainer
  width: $xs-screen-width
  margin: 0 auto
  @media $md-and-up
    width: 40em

#articleTitle
	width: 100%
	text-align: center


#articleImage
  text-align: center
  margin: 0 auto
  img
    width: $xs-screen-width
    margin: 6em 0 3em 0
    @media $md-and-up
      width: auto  

#articleBody
  margin-bottom: 2em

#editButton
  color: #000
  font-size: 1rem   

#commentContainer
  margin: 2em auto