.contactInfoContainer
	background-image: url(../images/photo.png)
	background-repeat: no-repeat 
	background-size: 15em 
	background-position: center
	box-sizing: border-box
	margin: 0 auto
	float: none
	padding: 25em 0 5em 3em
	//padding: 38% 1% 5% 25%
	line-height: 0.8em
	font-size: 0.7rem
	letter-spacing: 0.3em
	h3
		font-size: 0.65rem
	@media $xs-only
		width: 100%
		background-position: 50% 50% 
	@media $md-only
		//padding: 34% 1% 15% 7%
		width: 100%
		background-position: 50% 50%
		font-size: 0.6rem	
	@media $lg-and-up
		padding: 30em 0	
		width: 40%
		height: 30em
		margin: 2em 0 0 9%
		float:left
		background-position: 8% 20%
.contactInfo
	@media $xs-only
		text-align: center
		padding: 0 0 0 0
	@media $md-only
		text-align: center			

.contactLink
	display: inline
	color: #aa9483	
	font-weight: bold
	padding: 0 0 0 0

