.grid {
  position: relative;
  /* fluffy */
  margin: 0 auto;
  width: 85%;
  /* end fluffy */

}

.grid-item {
  position: absolute;
  top: 0;
  left: 0;
   /* fluffy */
   width: 370px;
   height: auto;
   border-radius: 3px;
   /* end fluffy */
}
#item-container
  position: relative

#img-item
  
  width: 100%
  height: 100%

#title-item
  bottom: 0.25em
  padding: 0.5em
  right: 0
  left: auto
  background: rgba(0,0,0,.7)
  position: absolute
  max-width: 50%
  font-size: 1.3rem
  font-family: sans-serif
  font-weight: bold
  text-transform: uppercase

