.logo
	background-image: url(../images/photo.png)
	background-repeat: no-repeat 
	background-size: 10em 
	background-position: center
	box-sizing: border-box
	margin: 2em auto
	float: none
	height: 20em
	@media $md-and-up
		width: 40%
		height: 30em
		margin: 2em 0 0 7%
		float:left
		background-position: 8% 20%

.contactInfoContainer
	margin: 0 auto
	padding: 30em 1em 0 1em
	line-height: 0.8em
	font-size: 0.7rem
	letter-spacing: 0.3em
	h3
		font-size: 0.65rem
	@media $md-and-up
		padding: 30em 0	

.contactInfo
	display: inline
	color: #aa9483	
	font-weight: bold

