@import 'variables'
@import 'mixins'
@import 'header'
@import 'grid'
@import 'logo'
@import 'content'
@import 'home'



html
  box-sizing: border-box
  font-size: $font-size-base
  @media $md-and-up
    font-size: $font-size-base-md-up

body
  margin: 0
  color: #fff
  font-family: $font-family-body
  font-size: $font-size-body
  font-weight: $font-weight-body
  line-height: $line-height-body
  background-color: #000


  
h1, h2, h3
  color: #fff
  font-family: $font-family-body
  line-height: $line-height-heading

p 
  margin: 0 0 0.5em;

a
  color: $color-link
  text-decoration: none
  &:hover, &:focus
    color: $color-link-hover  


  




        