//media queries
$xs-screen-width = 27.8em
$md-screen-width = 46.8em
$lg-screen-width = 92em
$xl-screen-width = 135em
$breakpoint = 102.7em

$xs-only = 'screen and (min-width:' + $xs-screen-width + ') and (max-width:' + $md-screen-width + ')'

$md-and-up = 'screen and (min-width:' + $md-screen-width + ')'

$md-only = 'screen and (min-width:' + $md-screen-width + ') and (max-width:' + $lg-screen-width + ')'

$lg-and-up = 'screen and (min-width:' + $lg-screen-width + ')'

$below-lg = 'screen and (max-width:' + $lg-screen-width +')'

$below-breakpoint = 'screen and (max-width:' + $breakpoint +')'


$font-size-base = 14px
$font-size-base-md-up = 17px
$font-size-body = 1rem

$color-body = #000
$color-link = #aa9483
$color-link-hover = rgb(241, 105, 118)
$font-family-body = sans-serif
$font-weight-body = 300

$line-height-body = 1.6 
$line-height-heading = 1.2
