//media queries
$xs-screen-width = 26.8em
$md-screen-width = 46.8em
$lg-screen-width = 70em
$xl-screen-width = 135em

$md-and-up = 'screen and (min-width:' + $md-screen-width + ')'

$md-only = 'screen and (min-width:' + $md-screen-width + ') and (max-width:' + $lg-screen-width + ')'

$lg-and-up = 'screen and (min-width:' + $lg-screen-width + ')'

$below-lg = 'screen and (max-width:' + $lg-screen-width +')'


$font-size-base = 14px
$font-size-base-md-up = 17px
$font-size-body = 1rem

$color-body = #000
$color-link = #fff
$color-link-hover = rgb(241, 105, 118)
$font-family-body = "Roboto Slab", serif
$font-weight-body = 300

$line-height-body = 1.6 
$line-height-heading = 1.2
